.game-over-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-over-text {
    margin: 5px;
    font-size: 35px;
    color: white;
    text-align: center;

}

.game-over-text-lg {
    margin: 50px;
    font-size: 50px;
    color: white;
    text-align: center;
}

.play-again-btn {
    margin: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: rgb(252, 88, 88);
    color: white;
    cursor: pointer;
}

.play-again-btn:hover {
    background-color: white;
    color: rgb(252, 88, 88);
}