.container {
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100vw;   
    background-image: url('../../assets/card-mat.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.top-header-row {
    margin: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
.title {
    font-size: 40px;
    margin: 10px;
    color: white;
    grid-column: 2;
    text-align: center;
}
.score-title {
    grid-column: 3;
    text-align: center;
    font-size: 25px;

}
.timer {
    color: white;
}
.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80%;
    max-width: 1400px;
    background-color: rgba(236, 206, 206, 0);
}
